html {
    box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
    background-image: url(images/sky-small.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fed8f4;
    height: 100%;
    font-family: 'Titan One', cursive;
}

.container {
    padding: 20px 5px 50px 20px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: space-between;
}

.info-block {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    width: 45%;
    justify-content: space-around;
    padding-left: 50px;
}

.date-icon, .info-main {
    display: flex;
    align-items: center;
}

.temperature {
    font-size: 78px;
}

.icon-info {
    font-size: 42px;
    margin-left: 15px;
}

.time-info {
    display: flex;
}

.place-time {
    font-size: 24px;
}

.place-time, .description {
    display: flex;
    flex-direction: column;

}

.date {
    margin-left: 5px;
}

.place {
    margin-bottom: 15px;
}

.search {
    padding-left: 20px;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 450px;
    height: 100%;
    background-color: transparent;
    /* opacity: .5; */
    border-left: 1px solid #c4c4;
}

.search-button {
    background-color: transparent;
    padding: 5px 10px;
    border: .5px solid #c4c4;
    position: absolute;
    right: 0;
    cursor: pointer
}

input {
    background: transparent;
    border: none;
    font-size: 28px;
    margin: 20px;
    outline:none;
    padding-left: 10px;
}

.search-button:hover {
    background-color: #c4c4;
}

input:hover {
    border-left: 3px solid #c4c4;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(42, 30, 30);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(42, 30, 30);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(42, 30, 30);
  }

.details {
    border-top: .5px solid #c4c4;
}

h3 {
    margin: 30px 0;
}

.weather-block div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 15px;
}

.description .icon img {
    border: 7px solid rgba(125, 54, 125, 0.267);
}

.description {
    align-items: center;
    margin-left: 30px;
}

